body {
   width: 1900px;
   height: 1080px;
}

.wrapper {
   width: 100%;
   height: 100%;
}

.header {
   width: 100%;
   height: 20%;
}

.header .header_logo {
   width: 30%;
   height: 100%;
   float: left;
}

.header .header_nav {
   width: 70%;
   height: 30%;
   float: right;
   padding-top: 20px;
   text-align: right;
   text-decoration: none;
}

.header .header_menu {
   width: 70%;
   height: 70%;
   float: right;
}

.main_content {
   width: 100%;
   height: 65%;
}

.footer {
   width: 100%;
   height: 15%;
}
h2 {
   display: none;
}