.wrapper {
	width: 1900px;
	min-height: 900px;
}

.wrapper {
	width: 100%;
	height: 100%;
}

.header {
	width: 100%;
	height: 20%;
	float: left;
}

.header .header_logo {
	width: 25%;
	height: 60%;
	text-align: center;
	float: left;
}

.header .header_nav {
	width: 70%;
	height: 30%;
	float: right;
	padding-top: 20px;
	text-align: right;
	text-decoration: none;
}

.header .header_menu {
	width: 70%;
	height: 70%;
	float: right;
	margin-top: 2%;
}

.main_content {
	width: 100%;
	min-height:700px;
	height: 65%;
	float: left;
}

.main_aside {
	width: 20%;
	height: 100%;
	min-height:700px;
	float: left;
}

.main_body {
	width: 80%;
	height: 100%;
	min-height:700px;
	float: left;
}

.footer {
	width: 100%;
	height: 15%;
	float: left;
	margin-top: 3%;
}

h2 {
	display: none;
}