@charset "UTF-8";

#allcontent {
	margin-top: 50px;
	float: center;
	margin-right: 50px;
}

/* 자주 묻는 질문의 제목 09.05*/
.contentTit {
	margin-top: 30px;
	font-size: 25pt;
	text-align: center;
}

#Question_Q {
	
	color: green;
	font-size: 23px;
	
}

.question_title {
	font-size: 20px;
	/* 줄간격 */
	line-height: 200%;
	color : #000000;
	margin-left: 100px;
}

/* 안에 적혀 있는 내용 */
.question_text {
	margin-top: 20px;
	margin-bottom : 20px;
	line-height: 200%;
	margin-left: 150px;
}