.footer_body {
	width: 100%;
	height: 30%;
	margin-left: 5%;
}

.footer_logo {
	width: 20%;
	height: 100%;
	float: left;
}
.footer_logo a{
	display: block;
}
.footer_menuList {
	width: 80%;
	height: auto;
	float: left;
	margin-top: 20px;
	margin-bottom: 10px;
	text-decoration: none;
	direction: none;
	font-size: 16px;
	line-height: 150%;
	font-size: 21px;
	border: 0;
}

.footer_menuList ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.footer_menuList ul li {
	text-decoration: none;
	float: left;
	word-spacing: 5;
	border: 0;
	width: 25%;
}

.linka {
	text-decoration: none;
	float: left;
	color: #fff;
}

.footer_menuList ul li a:link {
	text-decoration: none;
}

.footer_menuList ul li a:hover {
	color: #124796
}

.footer_text {
	width: 80%;
	height: 100%;
	float: left;
	font-size: 90%;
	line-height: 120%;
}

.footer_menu a {
	text-decoration: none;
}