@charset "UTF-8";

#greeting_title {
	margin-top: 50px;
	margin-left: 100px;
	text-align: left;
	font-size: 22px;
	/* 줄간격 */
	line-height: 180%;
}

.totalContent {
	width: 100%;
}

#greeting_content {
	width: 80%;
	margin-top : 20px;
	text-align: center;
}

.text {
	float: left;
	width: 50%;
}

#greeting_text {
	margin-left: 100px;
	float: left;
	text-align: left;
	font-size: 16px;
	/* 줄간격 */
	line-height: 200%;
}

.img {
	float: left;
	width: 50%;
}

#greething_img {
	text-align: center;
	width: 80%;
}