@charset "UTF-8";

#mainsize {
	margin: 0px;
	width: 100%;
}

div table {
	float: left;
	width: 40%;
	height: 200px;
}

.contentContainer {
	float: right;
	width: 40%;
	margin-right: 100px;
}

div .form-group {
	margin-top: 25px;
	margin-left: 30px;
	width: 100%;
}


hr {
	border-color: #deefef;
	border-width: 4px;
	padding-left: 160px;
	width: 365px;
}
b {
	font-size: 20px;
	font-family: 돋음;
	font-weight: bolder;
	color: #737373;
	margin-left: 200px;
}
#joinInsert {
	width: 230px;
	height: 34px;
	text-align: center;
	margin-top: 10px;
	margin-left: 25px;
	background-color: #deefef;
	border: none;
}
#joinReset {
	width: 230px;
	height: 34px;
	text-align: center;
	margin-top: 10px;
	margin-left: 25px;
	background-color: #deefef;
	border: none;
}
#memberForm label {
	display: inline-block;
	width: 120px;
	font-size: 14px;
	font-weight: bold;
	padding-left: 10px;
	margin-right: 50px;
	vertical-align: middle;
	margin-bottom: 5px;
}
#memberForm input[type='text'], #memberForm input[type='password'],
	#memberForm input[type='email'] {
	border: 1px solid #ccc;
	padding: 3px 3px;
	width: 200px;
	height: 20px;
	vertical-align: middle;
	font-size: 12px;
	line-height: 150%;
	vertical-align: middle;

}

.error {
	font-size: 12px;
	color: #969696;
}
#idConfirmBtn {
	background-color: #deefef;
	border: none;
	height: 27px;
	margin-left: 5px;
}
label#checkbox {
	width: 700px;
	height: 20px;
}
