.wrapper {
	width: 1900px;
	min-height: 900px;
}

.wrapper {
	width: 100%;
	height: 100%;
}

.header {
	width: 100%;
	height: 20%;
	float: left;
}

.header .header_logo {
	width: 25%;
	height: 60%;
	text-align: center;
	float: left;
}

.header .header_nav {
	width: 70%;
	height: 30%;
	float: right;
	padding-top: 20px;
	text-align: right;
	text-decoration: none;
}

.header .header_menu {
	width: 70%;
	height: 70%;
	float: right;
	margin-top: 2%;
}

.main_content {
	width: 100%;
	min-height: 60%;
	float: left;
}

.main_image {
	width: 75%;
	height: 100%;
	float: left;
}

.main_image .main_img {
	width: 100%;
	height: 50%;
}

.main_items {
	width: 25%;
	height: 70%;
	float: right;
	text-align: center;
}
.main_items_title{
	margin: 1% 1% 1% 1%;
	border:2px solid gray;
	font-weight: bold;
	font-size: 24px;
}
.main_item {
	font-weight:bold;
	font-size: 18px;
	width: 100%;
	height: 100%;
	float: left;
	text-align: center;
}

.product_thumbnail {
	width: 475px;
	height:230px;
	float: left;
	text-align: center;
}

.footer {
	width: 100%;
	height: 15%;
	float: left;
	padding-top: 1%;
}

h2 {
	display: none;
}