@charset "UTF-8";

#rental {
	width: 1200px;
	height: 800px;
	padding: 15px;
	border: 1px solid #7BAEB5;
	float: center;
	margin-top: 40px;
	margin-left: 100px;
}

table {
	width: 800px;
	height: 600px;
	border-collapse: collapse;
	margin-left: 240px;

}

table, td, th {
	margin-top: 15px;
	padding: 5px;
	border-bottom: 1px solid #bfdcdd;
}

th {
	background-color: #dbebec;
}
.sub-header{
	font-size: 30px;
	font-family: monospace;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 240px;
}

#link{
	margin-left: 240px;
}
a.style1:hover {
	background-color: #a3e4e2;
	margin-bottom: 10px;

}

a.style2:hover {
	background-color: #a3e4e2;
	margin-bottom: 10px;
	
}

#memberReInfoPaging {
	margin-top: 50px;
	margin-left: 550px;
}