@charset "UTF-8";
/* 게시판 전체 적용 내용*/
caption {
	display: none;
}

img {
	border: 0px;
}

input[type="text"], input[type="password"], select {
	font-size: 80%;
	padding: 3px;
}

input[type="text"], input[type="password"] {
	width: 250px;
}

input[type="button"] {
	padding: 3px;
	font-size: 80%;
}

table {
	border-collapse: collapse;
}

ul {
	list-style: none;
}

/************* 게시판 리스트 화면 ************/
/* 검색 부분 */
#productSearch table {
	width: 96%;
	margin-top: 10px;
}

#productSearch #search {
	height: 26px;
}

#productSearch #btd1 {
	width: 50%;
	text-align: left;
}

#productSearch #btd2 {
	width: 50%;
	text-align: right;
}

/* 리스트 부분 */
#productList {
	width: 100%;
	float: left;
}

.product_article {
	margin: 2% 2% 2% 2%;
	width: 29%;
	float: left;
	font-size: 18px;
	text-align: center;
}

.product_article .product_thumb img {
	width: 98%;
	height: 300px;
	opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.product_article .product_thumb img:hover {
	opacity: .8;
	-webkit-transform: scale(1.03);
	transform: scale(1.03);
}

.product_article .product_images img {
	width: 29%;
	height: 100px;
}
/* 페이징 출력 div 부분 */
#productContainer #productPage {
	width: 98%;
	margin-top: 10px;
	float: left;
}

/* 페이징 버튼 부분 */
.paginate {
	width: 100%;
	height: 20px;
	text-align: center;
	vertical-align: top; /* font-size :14px; */
}

.paginate span .textAn {
	vertical-align: bottom;
}

.paginate a.on {
	color: #FF3300;
}
/**/
