@charset "UTF-8";

/* 문의게시판 css 2019.09.05 작성자 김은수 */
.contentContainer {
	width: 100%;
}

/* 제목 */
.contentsTit {
	margin-top: 30px;
	font-size: 25pt;
	text-align: center;
}
.img{
	text-align: center;
}
.ContentTB {
	/* 줄간격 */
	line-height: 250%;
	margin-top: 50px;
	margin-bottom: 200px;
	width: 100%;
	text-align: center;
}

#questionWriteTable {
	width: 100%;
}

#wrtTbl {
	width: 80%;
	text-align: left;
	margin-left: 150px;
}
/* 텍스트 박스 */
#qt_writer {
	width: 300px;
}

#qt_pw {
	width: 300px;
}

#qt_title {
	width: 750px;
}

#qt_title:hover {
	color: #4762cd;
}

#qt_content {
	width: 750px;
	height: 250px;
	resize: none;
}

#qt_file {
	width: 750px;
}

/* 버튼 CSS */
.buttoncss {
	margin-top: 70px;
	margin: 0;
	text-align: center;
	margin-right: 50px;
}

#pleaseLogin {
	margin-top: 280px;
	margin: auto;
	margin-left: 600px;
	font-size: 20px;
	/* 줄간격 */
	line-height: 180%;
}

#textlogin {
	color: blue;
}

/* 리스트 출력 */
#questionList {
	margin-top: 50px;
	width: 100%;
	border: 0px; /*공지사항 선임*/
	text-align: center;
	/* 줄간격 */
	line-height: 200%;
}

#questionListTable {
	margin-left : 180px;
	width: 80%
}

#qt_title {
	text-align: center;
}

#questionList tr {
	padding: 0px;
}

#questionList th, #questionList td {
	padding: 8px;
	border-bottom: 1px solid #c0c0c0;
}

/* 상세보기 css */
#content22 { /* detail */
	text-align: left;
	margin-top: 50px;
}

.ContentTB th, .ContentTB td {
	padding: 8px;
	border-bottom: 1px solid #c0c0c0;
}

#questionInsertBtn {
	width: 230px;
	height: 34px;
	text-align: center;
	margin-top: 10px;
	margin-left: 25px;
	background-color: #deefef;
	border: none;
}

/* 페이징 css */
#questionPage {
	margin: auto;
	margin-top: 40px;
	text-align: center;
}