@charset "UTF-8";

/* 제목 */
.contentsTit {
	margin-top: 30px;
	font-size: 25pt;
	text-align: center;
	margin: auto;
}

.ContentTB {
	/* 줄간격 */
	line-height: 250%;
	margin-top: 50px;
}

.questionTable {
	margin-top: 50px;
	width: 80%;
	margin-left: 100px;
	border: 0px; /*공지사항 선임*/
	text-align: center;
	/* 줄간격 */
	line-height: 200%;
}

.ContentTB th, .ContentTB td {
	padding: 8px;
	border-bottom: 1px solid #c0c0c0;
}

/* 텍스트 박스 */
#qt_title_2 {
	/* 게시글 제목색 */
	color: green;
	font-weight: bold;
}

#qt_writer {
	width: 300px;
}

#qt_pw {
	width: 300px;
}

#qt_title {
	width: 750px;
}

#qt_content {
	width: 750px;
	height: 250px;
	resize: none;
}

#qt_file {
	width: 750px;
}

.fileImage {
	width: 80% ;
	height: 200px;
	color : #bbf1b1;
}

/* 버튼 CSS */
.buttoncss {
	margin-top: 70px;
	text-align: center;
	width: 100%;
}