.terms_title {
	margin: 2% 2% 2% 2%;
	width: 100%;
	font-size: 28px;
}
strong{
	font-weight: bold;
	font-size: 24px;
}
.terms_text {
	margin: 2% 2% 2% 2%;
	font-size: 20px;
	border: 1px solid gray;
	overflow-y: auto;
	width: 90%;
	height: 600px;
}