<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.oab.client.product.vo.ProductVO"
			alias="product" />
		<typeAlias type="com.oab.client.review.vo.ReviewVO"
			alias="adminReview" />
		<typeAlias type="com.oab.client.review.vo.ReviewVO"
			alias="review" />
		<typeAlias type="com.oab.client.login.vo.LoginVO"
			alias="login" />
		<typeAlias type="com.oab.client.member.vo.MemberSecurity"
			alias="security" />
		<typeAlias type="com.oab.client.member.vo.MemberVO"
			alias="member" />
		<typeAlias type="com.oab.client.notice.vo.NoticeVO"
			alias="notice" />
		<typeAlias type="com.oab.client.common.vo.CommonVO"
			alias="common" />
		<typeAlias type="com.oab.admin.login.vo.AdminLoginVO"
			alias="admin" />
		<typeAlias type="com.oab.admin.notice.vo.AdminNoticeVO"
			alias="adminNotice" />
		<typeAlias type="com.oab.client.question.vo.QuestionVO"
			alias="question" />
		<typeAlias type="com.oab.client.member.vo.MemberVO"
			alias="adminMember" />
		<typeAlias type="com.oab.client.question.vo.QuestionVO"
			alias="adminQuestion" />
		<typeAlias
			type="com.oab.client.reservation.vo.ReservationVO"
			alias="reservation" />
		<typeAlias
			type="com.oab.client.review.vo.ReviewVO"
			alias="review" />
		<typeAlias
			type="com.oab.client.reservation.vo.ReservationVO"
			alias="adminReservation" />
		<typeAlias type="com.oab.client.rental.vo.RentalVO"
			alias="adminRental" />
		<typeAlias type="com.oab.client.reservation.vo.UserInfoVO"
			alias="UserInfo" />
		<typeAlias type="com.oab.client.rental.vo.RentalVO"
			alias="Rental" />
	</typeAliases>
	<!-- <environments default="development"> <environment id="development"> 
		<transactionManager type="JDBC" /> <dataSource type="POOLED"> <property name="driver" 
		value="${jdbc.driverClassName}" /> <property name="url" value="${jdbc.url}" 
		/> <property name="username" value="${jdbc.username}" /> <property name="password" 
		value="${jdbc.password}" /> </dataSource> </environment> </environments> 
		<mappers> <mapper resource="#package/#mapper.xml" /> </mappers> -->
</configuration>