.header {
	border-bottom: 1px solid #800000;
}

#logo {
	width: 340px;
	height: 149px;
	float: left;
	padding-left: 20px;
}

#logout {
	width: 10%;
	height: 30%;
	float: right;
	padding: 5px;
	padding-top: 20px;
	margin-right: 150px;
}

#logoutBtn {
	background-color: #804040;
	width: 80px;
	height: 30px;
	color: white;
	font-weight: bold;
}

.nav_topmenu {
	margin-top: 70px;
	margin-left: 450px;
}

.nav_topmenu ul {
	list-style: none;
	position: relative;
	float: left;
	margin: 0;
	padding: 0;
}

.nav_topmenu ul a {
	display: block;
	color: #333;
	width: 250px;
	text-decoration: none;
	font-size: 25px;
	font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial,
		sans-serif
}

.nav_topmenu ul li {
	position: relative;
	float: left;
	margin: 0;
	padding: 0
}

.nav_topmenu ul li:hover {
	background: #e0e0e0;
	font-weight: bold;
	border-left: 1px soild black;
}

.nav_topmenu ul ul {
	display: none;
	position: absolute;
	top: 110%;
	left: 0;
	background: #fff;
	padding: 0
}

.nav_topmenu ul ul li {
	float: none;
	width: 250px;
	height: 100%;
}

.nav_topmenu ul ul a {
	line-height: 200%;
	font-size: 23px;
}

.nav_topmenu ul li:hover>ul {
	display: block
}

/* .nav_topmenu {
	width: 1000px;
	height: 40px;
	float: left;
	margin-top: 70px;
}

#main_menu, #sub_menu {
	margin: 0px;
	padding: 0;
	list-style-type: none;
}

#main_menu>li {
	float: left;
	padding-right: 20px;
	font-size: 20px;
	font-weight: bold;
	margin-left: 90px;
	color: #000000;
}

#main_menu>li:hover #sub_menu {
	opacity: 1;
	visibility: visible;
}

#main_menu>li>a {
	font-size: 10px;
	color: black;
	letter-spacing: 5px;
	display: block;
	padding: 12px 36px;
	text-align: right;
}

#sub_menu {
	position: absolute;
	opacity: 0;
	visibility: hidden;
	background-color: #ffffff;
	font-size: 15px;
	opacity: 0;
	width: 170px;
	text-align: left;
	border-left: 1px solid #c0c0c0;
	margin-right: 20px;
	margin-bottom: 10px;
}

#sub_menu>li {
	margin-top: 4px;
}

#sub_menu>li:hover {
	padding: 5px;
	background-color: #804040;
}

#sub_menu>li>a:hover {
	color: #ffffff;
	font-weight: bold;
}

#sub_menu>li>a {
	color: #808080;
	text-decoration: none;
	padding-left: 7px;
} */