@charset "UTF-8";

.main_content {
	width: 60%;
	height: 53%;
	margin-left: 300px;
	margin-top: 100px;
	border: 1px solid #c0c0c0;
	padding-bottom: 100px;
}

.login {
	width: 790px;
	height: 300px;
	padding-left: 120px;
	padding-top: 130px;
}

#image {
	width: 330px;
	height: 300px;
	float: left;
	text-align: center;
}

table {
	width: 300px;
	height: 280px;
	float: left;
	font-weight: bold;
	text-align: center;
	color: #804040;
	font-size: 30px;
	padding: 30px;
}

#loginBtn {
	width: 330px;
	background-color: #804040;
	color: white;
	height: 35px;
}

#adminID, #adminPW {
	height: 30px;
	text-align: center;
	font-weight: bold;
}