@charset "UTF-8";

table {
	border-collapse: collapse;
	border-spacing: 0;
}

.main_content {
	text-align: center;
	padding-top: 15px;
	padding-bottom: 20px;
}

#reservation {
	/* border-bottom: 3px solid #c0c0c0; */
	border: 3px solid #c0c0c0;
	width: 1100px;
	margin-top: 50px;
	height: 250px;
}

.rental {
	border: 3px solid #c0c0c0;
	width: 1100px;
	margin-top: 50px;
	height: 250px;
}

table {
	border: 0;
}

.question {
	border: 3px solid #c0c0c0;
	width: 1100px;
	margin-top: 50px;
	height: 250px;
}

#list th {
	color: #000000;
	font-weight: bold;
	height: 25px;
	font-size: 18px;
	text-align: center;
	background-color: #d1d1d1;
}

#list td {
	color: #585858;
	font-size: 20px;
	font-size: 15px;
	height: 25px;
	text-align: center;
	border-bottom: 1px solid #c0c0c0;
}