@charset "UTF-8";

table {
	border-collapse: collapse;
	border-spacing: 0;
}

.main_content {
	text-align: left;
	padding-top: 15px;
	padding-bottom: 20px;
	color: #804040;
	margin-left: 40px;
}

.noticeSearch {
	width: 600px;
	height: 50px;
	margin-top: 30px;
	float: left;
	margin-left: 30px;
	background-color: #dadada;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	background-color: #dadada;
}

#insertFormBtn {
	background-color: #808080;
	width: 80px;
	height: 30px;
	font-size: 15px;
	font-weight: bold;
	color: #ffffff;
	float: right;
	margin-top: 8px;
	margin-right: 100px;
}

#noticeInsertBtn {
	background-color: #804040;
	color: #ffffff;
	width: 130px;
	height: 30px;
	font-size: 15px;
	font-weight: bold;
	margin-left: 550px;
}

#noticeListBtn {
	background-color: #804040;
	color: #ffffff;
	width: 130px;
	height: 30px;
	font-size: 15px;
	font-weight: bold;
	margin-left: 500px;
}

#noticeUpdateBtn {
	background-color: #804040;
	width: 110px;
	height: 33px;
	font-size: 15px;
	font-weight: bold;
	color: #ffffff;
	float: right;
	margin-top: 8px;
	margin-right: 90px;
}

#questionDeleteBtn {
	background-color: #804040;
	width: 110px;
	height: 33px;
	font-size: 15px;
	font-weight: bold;
	color: #ffffff;
	float: right;
	margin-top: 8px;
}

#questionListBtn {
	background-color: #804040;
	width: 110px;
	height: 33px;
	font-size: 15px;
	font-weight: bold;
	color: #ffffff;
	float: right;
	margin-top: 8px;
}

#noticeDeleteBtn {
	background-color: #804040;
	width: 110px;
	height: 33px;
	font-size: 15px;
	font-weight: bold;
	color: #ffffff;
	float: right;
	margin-top: 8px;
}

#noticeListBtn {
	background-color: #804040;
	width: 110px;
	height: 33px;
	font-size: 15px;
	font-weight: bold;
	color: #ffffff;
	float: right;
	margin-top: 8px;
}

#search_deco {
	color: #008080;
	font-weight: bold;
	font-size: 20px;
}

#search_tbl {
	flex: left;
	width: 540px;
	height: 30px;
	float: left;
	margin-top: 8px;
	margin-left: 40px;
}

#searchData {
	color: #ffffff;
	width: 100px;
	height: 35px;
	font-size: 15px;
	font-weight: bold;
	background-color: #804040;
	margin-left: 10px;
}

.contentTB {
	width: 1000px;
	margin-top: 10px;
	margin-bottom: 20px;
	text-align: center;
	float: left;
	border-top: 1px solid #808080;
}

.contentTB_D {
	width: 1000px;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
	float: left;
}

#noticeWrite {
	color: black;
	font-weight: bold;
	border: 1px solid black;
	width: 96%;
	margin: 20px;
}

#noticeupdate {
	color: black;
	font-weight: bold;
	border: 1px solid black;
	width: 96%;
	margin: 20px;
}

#notice_detail {
	color: black;
	font-weight: bold;
	border: 1px solid black;
	width: 96%;
	margin: 20px;
}

#noticeWrite th {
	color: #800040;
	width: 30px;
	padding: 5px;
	text-align: center;
	border-bottom: 1px solid #808080;
	background-color: #d1d1d1;
}

#title {
	text-align: left;
	padding-left: 30px;
}

#keyword {
	color: #808080;
	width: 300px;
	height: 30px;
	text-align: center;
	margin-left: 10px;
	border: 1px solid #808080;
	font-size: 15px;
	font-weight: bold;
}

#noticePage {
	clear: both;
	padding-left: 520px;
}

select {
	color: #808080;
	font-size: 15px;
	width: 80px;
	height: 32px;
	text-align: center;
	text-decoration: none;
	border: 1px solid #808080;
	font-weight: bold;
}

#nt_list {
	border: 1px solid #d1d1d1;
}

#list_td td {
	color: #6a6a6a;
	font-size: 20px;
	font-size: 15px;
	height: 35px;
	border-bottom: 1px solid #808080;
}

#list_th th {
	color: #000000;
	font-weight: bold;
	font-size: 18px;
	border-bottom: 1px solid #808080;
	background-color: #d1d1d1;
}

#update th {
	color: #000000;
	font-weight: bold;
	font-size: 18px;
	background-color: #dadada;
	border-bottom: 1px solid #808080;
}

#update td {
	color: #6a6a6a;
	font-size: 20px;
	font-size: 15px;
	border-bottom: 1px solid #808080;
	height: 35px;
}

#detail_th th {
	color: #000000;
	font-weight: bold;
	font-size: 18px;
	background-color: #d1d1d1;
	border-bottom: 1px solid #808080;
}

#detail_th td {
	color: #6a6a6a;
	font-size: 20px;
	font-size: 15px;
	border-bottom: 1px solid #808080;
	height: 35px;
}

#content_size {
	height: 300px;
}

#title_size {
	height: 40px;
}

#nt_writer {
	color: #000000;
	font-size: 15px;
	width: 250px;
	height: 30px;
	text-align: center;
	font-weight: bold;
}

#nt_title {
	color: #000000;
	font-size: 15px;
	width: 840px;
	height: 30px;
	text-align: center;
	font-weight: bold;
}

#nt_content {
	color: #000000;
	font-size: 15px;
	width: 840px;
	height: 320px;
	text-align: left;
	font-weight: bold;
}

#noticePage {
	float: both;
	margin-right: 200px;
}

#noticeCancelBtn {
	background-color: #804040;
	color: #ffffff;
	width: 130px;
	height: 30px;
	font-size: 15px;
	font-weight: bold;
}