@charset "UTF-8";

.main_content {
	text-align: center;
	padding-top: 30px;
	color: #800040;
}

#search_deco {
	color: #008080;
	font-weight: bold;
	font-size: 20px;
}

#search_tb {
	margin-left: 600px;
}

#keyword {
	color: #800040;
	width: 150px;
	border: 1px solid #008080;
	height: 20px;
	text-align: center;
}

#search {
	color: #800040;
	width: 150px;
	border: 1px solid #008080;
	height: 23px;
	text-align: center;
}

#searchData {
	background-color: #008080;
	color: #800040;
	width: 80px;
	height: 25px;
	font-size: 11px;
	font-weight: bold;
}

.contentTB {
	border: 2px solid black;
	width: 1000px;
	margin: 30px;
	float: right;
	margin-bottom: 20px;
	margin-right: 140px;
	margin-top: 10px;
}

#list_th th {
	color: #008080;
	font-weight: bold;
	background-color: #caffff;
	height: 30px;
	font-size: 10px;
	font-weight: bold;
}

#list_th td {
	color: #000000;
	font-weight: bold;
	font-size: 5px;
}

.contentTB {
	border: 2px solid black;
	width: 1000px;
	margin: 50px;
	float: right;
	margin-bottom: 20px;
	margin-right: 140px;
}

#productWrite {
	background-color: #008080;
	color: #800040;
	width: 100px;
	height: 30px;
	font-size: 15px;
	font-weight: bold;
	margin-left: 750px;
}

#productWrite {
	background-color: #008080;
	color: #800040;
	width: 100px;
	height: 30px;
	font-size: 15px;
	font-weight: bold;
}

#productWriteCancel {
	background-color: #008080;
	color: #800040;
	width: 100px;
	height: 30px;
	font-size: 15px;
	font-weight: bold;
}

.contentTB {
	border: 2px solid black;
	width: 1000px;
	margin: 50px;
	float: right;
	margin-bottom: 20px;
	margin-right: 140px;
}

#pt_name, #pt_price {
	width: 800px;
	height: 25px;
	text-align: center;
}

#btn file {
	background-color: #ffdddd;
	color: #ff8080;
}

#pt_explain {
	width: 800px;
	height: 150px;
	text-align: center;
}

#write_th th {
	color: #008080;
	font-weight: bold;
	background-color: #caffff;
	height: 30px;
	font-size: 18px;
	font-weight: bold;
}

#write_th td {
	color: #ff8080;
	font-weight: bold;
}

#productModifyFormBtn {
	background-color: #008080;
	color: #800040;
	width: 100px;
	height: 30px;
	font-size: 15px;
	font-weight: bold;
	margin-left: 700px;
}

#productDeleteBtn {
	background-color: #008080;
	color: #800040;
	width: 100px;
	height: 30px;
	font-size: 15px;
	font-weight: bold;
}

#productListBtn {
	background-color: #008080;
	color: #800040;
	width: 100px;
	height: 30px;
	font-size: 15px;
	font-weight: bold;
}

#productModify {
	background-color: #008080;
	color: #800040;
	width: 100px;
	height: 30px;
	font-size: 15px;
	font-weight: bold;
}

#productModifyCancel {
	background-color: #008080;
	color: #800040;
	width: 100px;
	height: 30px;
	font-size: 15px;
	font-weight: bold;
}

#Pdetail_th  th {
	color: #008080;
	font-weight: bold;
	background-color: #caffff;
	font-size: 18px;
	font-weight: bold;
}

#Pdetail_th  td {
	color: #000000;
	font-weight: bold;
	width: 300px;
	font-size: 18px;
	font-weight: bold;
	font-size: 18px;
	text-align: center;
}