@charset "UTF-8";

table {
	border-collapse: collapse;
	border-spacing: 0;
}

.main_content {
	text-align: left;
	padding-top: 15px;
	padding-bottom: 20px;
	color: #804040;
}

#search_deco {
	color: #008080;
	font-weight: bold;
	font-size: 20px;
}

#search_tbl {
	width: 540px;
	height: 30px;
	float: left;
	margin-top: 5px;
	margin-left: 200px;
}

#productWrite {
	background-color: #804040;
	width: 110px;
	height: 30px;
	font-size: 15px;
	font-weight: bold;
	color: #ffffff;
	float: right;
	margin-top: 8px;
	margin-right: 40px;
}

#searchData {
	color: #ffffff;
	width: 100px;
	height: 30px;
	font-size: 15px;
	font-weight: bold;
	background-color: #804040;
	margin-left: 10px;
}

.contentTB {
	width: 1200px;
	float: left;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
}

.contentTB_D {
	width: 1200px;
	float: left;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
	border-bottom: 1px solid #c0c0c0;
	border: 1px solid #000000;
}

#keyword {
	color: #808080;
	width: 300px;
	height: 24px;
	text-align: center;
	margin-left: 10px;
	border: 1px solid #808080;
	font-size: 15px;
	font-weight: bold;
}

select {
	color: #808080;
	font-size: 15px;
	width: 80px;
	height: 28px;
	text-align: center;
	text-decoration: none;
	border: 1px solid #808080;
	font-weight: bold;
}

#list_th td {
	color: #585858;
	font-size: 20px;
	font-size: 15px;
	border-bottom: 1px solid #808080;
	height: 35px;
}

#list_th th {
	color: #000000;
	font-weight: bold;
	height: 30px;
	font-size: 18px;
	background-color: #d1d1d1;
	border-bottom: 1px solid #808080;
}

#write_th th {
	color: #000000;
	font-weight: bold;
	height: 30px;
	font-size: 18px;
	border-bottom: 1px solid #808080;
	background-color: #d1d1d1;
}

#write_th td {
	color: #6a6a6a;
	font-size: 20px;
	font-size: 15px;
	border-bottom: 1px solid #808080;
	height: 35px;
	border-bottom: 1px solid #c0c0c0;
}

.productSearch {
	width: 1000px;
	height: 50px;
	float: left;
	margin-right: 140px;
	margin-top: 30px;
}

#productPaging {
	float: left;
	margin-left: 500px;
	margin-top: 20px;
}

#productWriteCancel {
	background-color: #804040;
	width: 110px;
	height: 33px;
	font-size: 15px;
	font-weight: bold;
	color: #ffffff;
	float: right;
	margin-top: 8px;
}

#pt_name, #pt_price {
	width: 800px;
	height: 30px;
	text-align: center;
}

#pt_explain {
	width: 800px;
	height: 100px;
	text-align: center;
}

#productModifyFormBtn {
	background-color: #804040;
	width: 110px;
	height: 33px;
	font-size: 15px;
	font-weight: bold;
	color: #ffffff;
	float: left;
	margin-left: 600px;
}

#productDeleteBtn {
	background-color: #804040;
	width: 110px;
	height: 33px;
	font-size: 15px;
	font-weight: bold;
	color: #ffffff;
	float: left;
}

#productListBtn {
	background-color: #804040;
	width: 110px;
	height: 33px;
	font-size: 15px;
	font-weight: bold;
	color: #ffffff;
	float: left;
}

#Pdetail_th th {
	color: #000000;
	font-weight: bold;
	font-size: 18px;
	background-color: #d1d1d1;
	width: 200px;
	border-bottom: 1px solid #808080;
}

#Pdetail_th td {
	color: #6a6a6a;
	font-size: 20px;
	font-size: 15px;
	border-top: 1px solid #dadada;
	width: 400px;
	border-bottom: 1px solid #808080;
}

#P_update th {
	color: #000000;
	font-weight: bold;
	font-size: 18px;
	background-color: #d1d1d1;
	width: 300px;
	border-bottom: 1px solid #808080;
}

#P_update td {
	color: #6a6a6a;
	font-size: 20px;
	font-size: 15px;
	border-top: 1px solid #dadada;
	width: 900px;
}

#productModify {
	background-color: #804040;
	width: 110px;
	height: 33px;
	font-size: 15px;
	font-weight: bold;
	color: #ffffff;
	float: left;
	margin-left: 800px;
}

#productModifyCancel {
	background-color: #804040;
	width: 110px;
	height: 33px;
	font-size: 15px;
	font-weight: bold;
	color: #ffffff;
	float: left;
}