@charset "UTF-8";

.contentTit {
	margin-bottom: 30px;
}

.main_content {
	text-align: center;
	padding-top: 5px;
	color: #800040;
}

#nt_list {
	border-bottom: 1px solid black;
}

.contentTB {
	border: 2px solid black;
	width: 1000px;
	margin-left: 350px;
	margin-bottom: 10px;
}

.questionSearch {
	margin-left: 100px;
	margin-bottom: 10px;
}

#search_deco {
	color: #008080;
	font-weight: bold;
	font-size: 20px;
}

#search_tbl {
	margin-left: 500px;
}

#searchData {
	background-color: #008080;
	color: #800040;
	width: 80px;
	height: 27px;
	font-size: 11px;
	font-weight: bold;
}

#list_td td {
	color: #000000;
	font-size: 15px;
	font-weight: bold;
}

#list_th th {
	color: #008080;
	font-weight: bold;
	background-color: #caffff;
	height: 30px;
	font-size: 18px;
}

#detail th {
	color: #008080;
	font-weight: bold;
	background-color: #caffff;
	height: 30px;
	font-size: 18px;
}

#detail td {
	color: #000000;
	font-size: 15px;
	font-weight: bold;
}

#content_size {
	height: 400px;
}

#qt_content {
	height: 300px;
	width: 800px;
	text-align: center;
}

#questionDeleteBtn {
	background-color: #008080;
	color: #800040;
	width: 100px;
	height: 30px;
	font-size: 15px;
	font-weight: bold;
	margin-left: 400px;
}

#questionListBtn {
	background-color: #008080;
	color: #800040;
	width: 100px;
	height: 30px;
	font-size: 15px;
	font-weight: bold;
}

#replyUpdateBtn {
	background-color: #008080;
	color: #800040;
	width: 100px;
	height: 30px;
	font-size: 15px;
	font-weight: bold;
	float: right;
	margin-right: 300px;
}

#updateBtn {
	background-color: #008080;
	color: #800040;
	width: 100px;
	height: 30px;
	font-size: 15px;
	font-weight: bold;
	margin-left: 450px;
}

#replyInsertBtn {
	background-color: #008080;
	color: #800040;
	width: 100px;
	height: 30px;
	font-size: 15px;
	font-weight: bold;
}

#replyListBtn {
	background-color: #008080;
	color: #800040;
	width: 100px;
	height: 30px;
	font-size: 15px;
	font-weight: bold;
}

#replyWriteBtn {
	background-color: #008080;
	color: #800040;
	width: 100px;
	height: 30px;
	font-size: 15px;
	font-weight: bold;
}

#reply th {
	color: #008080;
	font-weight: bold;
	background-color: #caffff;
	height: 30px;
	font-size: 18px;
}

#reply td {
	color: #000000;
	font-size: 15px;
	font-weight: bold;
}

#qt_title, #mt_id, #qt_writer, #qt_status {
	height: 25px;
	width: 300px;
}

#search {
	height: 25px;
	margin: 10px;
}

#keyword {
	height: 20px;
	color: #800040;
	text-align: center;
}