@charset "UTF-8";

table {
	border-collapse: collapse;
	border-spacing: 0;
}

.main_content {
	padding-top: 15px;
	padding-bottom: 20px;
	color: #804040;
	padding-left: 30px;
}

#search_tbl {
	flex: left;
	width: 540px;
	height: 30px;
	float: left;
	margin-top: 8px;
	margin-left: 40px;
}

#searchData {
	color: #ffffff;
	width: 100px;
	height: 35px;
	font-size: 15px;
	font-weight: bold;
	background-color: #804040;
	margin-left: 10px;
}

.contentTB {
	width: 1000px;
	float: right;
	margin-right: 140px;
	margin-top: 10px;
	margin-bottom: 30px;
	text-align: center;
	border-top: 1px solid #808080;
}

.contentTB_D {
	width: 1000px;
	float: right;
	margin-right: 140px;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
	border: 1px solid #808080;
}

#keyword {
	color: #808080;
	width: 300px;
	height: 30px;
	text-align: center;
	margin-left: 10px;
	border: 1px solid #808080;
	font-size: 15px;
	font-weight: bold;
}

select {
	color: #808080;
	font-size: 15px;
	width: 80px;
	height: 32px;
	text-align: center;
	text-decoration: none;
	border: 1px solid #808080;
	font-weight: bold;
}

#list_th td {
	color: #585858;
	font-size: 20px;
	font-size: 15px;
	height: 30px;
	border-bottom: 1px solid #808080;
}

#list_th th {
	color: #000000;
	font-weight: bold;
	height: 30px;
	font-size: 18px;
	background-color: #d1d1d1;
	border-bottom: 1px solid #808080;
}

.questionSearch {
	width: 600px;
	height: 50px;
	margin-top: 30px;
	float: left;
	border: 2px solid #804040;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

#nt_list {
	border: 1px solid #dadada;
}

#noticePage {
	clear: both;
	padding-left: 520px;
}

#Q_detail th {
	color: #000000;
	font-weight: bold;
	font-size: 18px;
	background-color: #dadada;
	border-bottom: 1px solid #808080;
}

#Q_detail td {
	color: #6a6a6a;
	font-size: 20px;
	font-size: 15px;
	border-bottom: 1px solid #808080;
}

#questionDeleteBtn {
	background-color: #804040;
	width: 110px;
	height: 33px;
	font-size: 15px;
	font-weight: bold;
	color: #ffffff;
	float: left;
	margin-top: 8px;
	margin-left: 450px;
}

#questionListBtn {
	background-color: #804040;
	width: 110px;
	height: 33px;
	font-size: 15px;
	font-weight: bold;
	color: #ffffff;
	float: left;
	margin-top: 8px;
}

#replyWriteBtn {
	background-color: #804040;
	width: 110px;
	height: 33px;
	font-size: 15px;
	font-weight: bold;
	color: #ffffff;
	float: left;
	margin-top: 8px;
}

#replyUpdateBtn {
	background-color: #804040;
	width: 110px;
	height: 33px;
	font-size: 15px;
	font-weight: bold;
	color: #ffffff;
	float: left;
	margin-top: 8px;
}

#reply th {
	color: #000000;
	font-weight: bold;
	font-size: 18px;
	background-color: #dadada;
	border-bottom: 1px solid #808080;
}

#reply td {
	color: #6a6a6a;
	font-size: 20px;
	font-size: 15px;
	border-bottom: 1px solid #808080;
}

#qt_content {
	height: 340px;
	width: 790px;
	text-align: center;
}

#updateBtn {
	background-color: #804040;
	width: 110px;
	height: 33px;
	font-size: 15px;
	font-weight: bold;
	color: #ffffff;
	float: left;
	margin-top: 8px;
	margin-left: 650px;
}

#replyListBtn {
	background-color: #804040;
	width: 110px;
	height: 33px;
	font-size: 15px;
	font-weight: bold;
	color: #ffffff;
	float: left;
	margin-top: 8px;
}

#detail th {
	color: #000000;
	font-weight: bold;
	font-size: 18px;
	background-color: #dadada;
	border-bottom: 1px solid #808080;
}

#detail td {
	color: #6a6a6a;
	font-size: 20px;
	font-size: 15px;
	border-bottom: 1px solid #808080;
}

#qt_title {
	height: 30px;
	width: 750px;
}

#replyInsertBtn {
	background-color: #804040;
	width: 110px;
	height: 33px;
	font-size: 15px;
	font-weight: bold;
	color: #ffffff;
	float: left;
	margin-top: 8px;
	margin-left: 700px;
}