@charset "UTF-8";

.main_content {
	text-align: left;
	padding-top: 15px;
	padding-bottom: 20px;
	color: #804040;
	margin-left: 40px;
}

#reviewSearch {
	width: 1000px;
	height: 50px;
	margin-top: 30px;
	float: left;
}

#keyword {
	color: #808080;
	width: 300px;
	height: 30px;
	text-align: center;
	margin-left: 10px;
	border: 1px solid #808080;
	font-size: 15px;
	font-weight: bold;
}

select {
	color: #808080;
	font-size: 15px;
	width: 80px;
	height: 28px;
	text-align: center;
	text-decoration: none;
	border: 1px solid #808080;
	font-weight: bold;
}

#searchData {
	color: #ffffff;
	width: 100px;
	height: 32px;
	font-size: 15px;
	font-weight: bold;
	background-color: #804040;
}

.reviewSearch {
	width: 600px;
	height: 50px;
	margin-top: 30px;
	float: left;
	border: 2px solid #804040;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	margin-left: 30px;
}

.contentTB {
	width: 1300px;
	margin-top: 10px;
	margin-bottom: 30px;
	text-align: center;
	float: left;
}

#search_tbl {
	flex: left;
	width: 540px;
	height: 30px;
	float: left;
	margin-top: 8px;
	margin-left: 40px;
}

#reviewList {
	width: 100xp;
	padding-left: 60px;
	padding-top: 20px;
	color: #000000;
	font-weight: bold;
	font-size: 15px;
	float: left;
}

#reviewPaging {
	clear: both;
	padding-left: 520px;
}

.review_article {
	width: 300px;
	float: left;
	border: 1px solid #808080;
	border-bottom: 3px solid #808080;
	margin-right: 40px;
	margin-bottom: 30px;
}